$primary-color: #222;
$secondary-color: #fab575;
$tertiary-color: #356282;
$quaternary-color: #8e5281;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$home-image-2: url(../img/backgroundAlt.jpg);
$background-opacity: 0.8;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin smoothBoxShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
  box-sizing: border-box;
}

@mixin background {
  @if $show-home-image {
    &.bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(
          rgba($primary-color, $background-opacity + 0.2),
          rgba($primary-color, $background-opacity)
        );
        // background: rgba($primary-color, $background-opacity);
      }
    }

    &.bg-img-alt {
      background: $home-image-2;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(
          rgba($primary-color, $background-opacity + 0.2),
          rgba($primary-color, $background-opacity)
        );
        // background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Scroll bar customization
::-webkit-scrollbar {
  width: 9px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(darken($primary-color, 50), 0.15);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(lighten($primary-color, 40), 0.5);
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(lighten($primary-color, 20), 0.61);
  border-radius: 1px;
  -webkit-border-radius: 1px;
}

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #292929;
  } @else {
    @return #e4e2dd;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171) {
    @content;
  }
}
