@import "config";
@import "menu";

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;

    .last-name {
      display: inline-block;
      white-space: nowrap;
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 2rem;
    font-size: 1.6rem;
    background: linear-gradient(
      to right,
      rgba(darken($primary-color, 5), 0.5),
      rgba(darken($primary-color, 5), 0)
    );
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.text-tertiary {
  color: $tertiary-color;
}

.text-reset {
  color: set-text-color($primary-color);
}

main {
  padding: 10vh 10vw;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $tertiary-color;
      }
    }
  }

  &#home {
    overflow: hidden;

    .text-tertiary {
      color: $tertiary-color;
      font-weight: 200;
      font-size: 1.2em;
      margin: -1rem;
    }

    .sm-heading {
      color: $secondary-color;
    }

    h1 {
      margin-top: 20vh;
    }
  }
}

// About Me
.about-info {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    max-width: 30vw;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $tertiary-color 5px solid;
    box-shadow: 0px 10px 5px rgba(darken($primary-color, 5), 0.75);
  }
}

// Work / Projects
.project-box {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

  .project {
    opacity: 0;
    @include easeOut;
  }

  img {
    width: 100%;
    border: 3px #fff solid;
    box-shadow: 0px 10px 5px rgba(darken($primary-color, 5), 0.75);

    &:hover {
      opacity: 0.5;
      border: 3px $secondary-color solid;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 1.5rem 2.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      box-shadow: 0px 10px 5px -10px rgba(darken($primary-color, 5), 0.8);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
  border: 1px darken($primary-color, 5) solid;
  box-shadow: 0px 8px 5px -1px rgba(darken($primary-color, 5), 0.8);
  margin-bottom: 0.3rem;

  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: $tertiary-color;
  color: set-text-color($primary-color);
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: $primary-color;
}

// Footer
#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  font-weight: 400;
  height: 60px;

  a {
    padding: 0.5em;

    &:hover {
      @include easeOut;
      color: lighten($tertiary-color, 10);
    }
  }
}

@import "mobile";
